main > header > h1 {
  margin-top:24px;
  margin-bottom:40px;
}
ul {
  list-style-type:none;
  margin:0;
  padding:0;
}
li {
  margin-bottom:12px;
}
a:hover {
  cursor:pointer;
}
#toc a, #tocfixed a {
  border-bottom:none;
  font-size:16px;
  font-family:'WorkSans-Regular';
}
main > section {
  padding:0px 40px;
}
#toc {
  vertical-align:top;
}
#tocfixed {
  position:fixed;
  top:0px;
  left:40px;
  display:none;
  background:white;
  padding-top:40px;
}
#content {
  vertical-align:top;
}
h3 {
  font-size:24pt;
  line-height:32pt;
  margin:22px 0 8px 0;
  padding:0px;
}
h3:first-of-type {
  margin-top:-10px;
}
p {
  font-size:12pt;
  margin-bottom:12px;
  line-height:16pt;
  margin-top:0px;
}
p, p * {
  font-family:'WorkSans-Regular';
}
iframe {
  max-width:100%;
}

/* Responsive styles */

@media (min-width:0px) {
  #toc {
    width:100%;
    display:block;
    margin-bottom:50px;
  }
  #content {
    display:block;
    width:100%;
    margin:0px;
  }
}

@media (min-width:960px) {
  #toc, #tocfixed {
    width:278px;
  }
  #toc {
    display:inline-block;
  }
  #content {
    display:inline-block;
    width:calc(100% - 278px - 24px);
    margin-left:24px;
  }
}